'fileTypes': [
  'ngc'
  'nc'
  'gcode'
]
'foldingStartMarker': '\\('
'foldingStopMarker': '\\)'
'name': 'G-Code'
'patterns': [
  {
    'match': ';[^;]*'
    'name': 'comment.gcode'
  }
  {
    'match': '[Gg][ \\t][32,73-89,98,99](\\.[\\d])?[ \\t]*(?!\\d)'
    'name': 'support.function.canned.gcode'
  }
  {
    'match': '[Gg][ \\t][15,16,17,18,19,20,21,52-59,68,69,90-92](\\.[\\d])?[ \\t]*(?!\\d)'
    'name': 'support.function.coordinate.gcode'
  }
  {
    'match': '[Gg][ \\t][10,40-51](\\.[\\d])?[ \\t]*(?!\\d)'
    'name': 'support.function.compensation.gcode'
  }
  {
    'match': '[Gg][ \\t]*0?[1-5,9,27,28,29,30,92,94-97](\\.[\\d])?[ \\t]*(?!\\d)'
    'name': 'support.function.motion.gcode'
  }
  {
    'match': '[gG]([ \\t]*[\\d](\\.[\\d])?)*[ \\t]*'
    'name': 'support.function.other.gcode'
  }
  {
    'match': '[TtHh]([ \\t]*[\\d](\\.[\\d])?)*[ \\t]*'
    'name': 'constant.other.tool.gcode'
  }
  {
    'match': '[Nn][ \\t]*[\\d]*[ \\t]*'
    'name': 'comment.block.linenumber.gcode'
  }
  {
    'match': '[Mm][ \\t]*0?[7-9][ \\t]*(?!\\d)'
    'name': 'keyword.control.mcode.coolant.gcode'
  }
  {
    'match': '[Mm][ \\t]*0?[3-5,19][ \\t]*(?!\\d)'
    'name': 'keyword.control.mcode.spindle.gcode'
  }
  {
    'match': '[Mm][ \\t]*0?[0,1,2,30,60][ \\t]*(?!\\d)'
    'name': 'keyword.control.mcode.program.gcode'
  }
  {
    'match': '[mM]([ \\t]*[\\d](\\.[\\d])?)*[ \\t]*'
    'name': 'keyword.control.mcode.other.gcode'
  }
  {
    'match': '[xXyYzZfFpPqQEeSsRrAaBbCcIiJjKkQqLlHhDd]'
    'name': 'variable.parameter.gcode'
  }
  {
    'match': 'P[01]'
    'name': 'constant.language.modal.gcode'
  }
  {
    'match': '\\-?[\\d]+\\.?[\\d]*'
    'name': 'constant.numeric.values.gcode'
  }
  {
    'begin': '\\('
    'end': '\\)'
    'name': 'comment.gcode'
  }
]
'scopeName': 'source.gcode'
